@use '../abstracts/' as *;

.card-skeleton {
  margin-bottom: 2.5rem;

  & .colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  & .color-skeleton {
    border-radius: 10px;
  }

  & .colors-button {
    display: flex;
    justify-content: space-between;
  }

  & .color-button {
    display: flex;
    align-items: center;
  }

  & .skeleton-button {
    min-width: 175px;
    min-height: 50px;
    border-radius: 50px;
    padding: 0.7rem 3rem;
  }

  & .skeleton-text {
    width: 300px;
    margin-left: 1rem;
    border-radius: 10px;
  }

  @include devices(laptop) {
    & .colors {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 0;
    }

    & .color-skeleton {
      border-radius: 0;
    }

    & .skeleton-text {
      display: none;
    }
  }

  @include devices(tablet) {
    & .colors {
      grid-template-columns: 1fr;
    }
  }
}

.colors-library {
  & .skeleton-heading {
    max-width: 150px;
    min-height: 30px;
    margin-bottom: 2rem;
    border-radius: 50px;
  }

  & .skeleton-saved-colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  & .saved-color {
    &-content {
      display: flex;
      width: 300px;
      justify-content: space-between;
    }

    &-buttons {
      display: flex;
    }
  }

  @include devices(tablet) {
    & .skeleton-saved-colors {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
