@use '../abstracts/' as *;

.color-btn {
  color: $white-color;
  background-color: $primary-color;
  padding: 0.6rem 2.2rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  border: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-weight: 500;

  & svg {
    font-size: 1.3rem;
    margin-right: 2px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    background-color: $primary-color;
  }

  @include devices(tablet) {
    min-width: 100%;
    padding: 0.8rem 2.2rem;
  }
}

.color-btn-secondary {
  border: 1px solid $btn-secondary-light;
  color: $btn-secondary-light;
  padding: 0.6rem 2.2rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  outline: none;

  & svg {
    font-size: 1.3rem;
    margin-right: 5px;
  }

  &:hover {
    transform: scale(1.05);
  }

  @include devices(tablet) {
    min-width: 100%;
    padding: 0.8rem 2.2rem;
  }
}
