@use '../abstracts/' as *;

.color-generator {
  position: relative;
  margin-bottom: 4rem;

  &-colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &-color {
    padding: 1rem;
    max-width: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-hex {
    font-weight: bold;
  }

  &-settings {
    display: flex;

    & svg {
      font-size: 1.4rem;
      cursor: pointer;
    }

    & div:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &-btn {
    display: flex;
    justify-content: space-between;
  }
}
