@use '../abstracts/' as *;

.color-saved {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  cursor: pointer;

  &-wrapper {
    background-color: $bg-light;
  }

  &-name {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  &-colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  &-color {
    min-height: 125px;
    display: flex;
  }
}
