@use '../abstracts/' as *;

.color-saved {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  &-heading {
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &-wrapper {
    background-color: $bg-light;
  }

  &-content {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.1rem;
    justify-content: space-between;
  }

  &-name {
    text-transform: capitalize;
  }

  &-colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    cursor: pointer;
  }

  &-color {
    min-height: 150px;
  }

  @include devices(laptop) {
    grid-template-columns: repeat(2, 1fr);

    &-color {
      min-height: 90px;
    }
  }

  @include devices(tablet) {
    grid-template-columns: 1fr;

    &-colors {
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    }

    &-color {
      min-height: 100px;
    }
  }

  @include devices(mobile) {
    &-color {
      min-height: 70px;
    }
  }
}
