// VARIABLES
$primary-color: #38bdf8;
$secondary-color: #facc15;

$primary-color-200: #bae6fd;
$secondary-color-200: #fef08a;

$dark-mode-bg: #121212;
$dark-mode-overlay: #1f1f1f;

$bg-light: #f7f7f8;
$border-light: #e0e0e0;

$white-color: #ffffff;
$black-color: #161616;

$red-color: #ef4444;
$red-color-300: #fca5a5;

$btn-secondary-light: #333333;

$font-stack: 'Karla', sans-serif;
