// VARIABLES
$primary-color: #38bdf8;
$primary-color-light: #dff5ff;
$secondary-color: #facc15;
$secondary-color-light: #fdf7dc;

$white-color: #ffffff;
$black-color: #161616;

$font-stack: 'Karla', sans-serif;
