// VARIABLES
$primary-color: #38bdf8;
$secondary-color: #facc15;

$bg-light: #f7f7f8;
$border-light: #e0e0e0;

$white-color: #ffffff;
$black-color: #161616;
$red-color: #ef4444;

$btn-primary-hover: #42c6ff;
$btn-secondary-light: #333333;

$font-stack: 'Karla', sans-serif;
