@use '../abstracts/' as *;

.sidebar {
  min-width: 20%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  background-color: $white-color;
  border-right: 1px solid #d7d7d7;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    color: $black-color;
    font-weight: 600;
    font-size: 1.3rem;

    & svg {
      margin-right: 0.5rem;
    }

    &:hover {
      color: $black-color;
    }
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding: 1rem 3rem;
    color: $black-color;
    font-size: 1.1rem;
    font-weight: 700;
    transition: all 0.3s ease-out;

    &:hover,
    a:focus {
      border-left: 5px solid $primary-color;
      background-color: $primary-color-light;
      color: $primary-color;
    }
  }
}
