@use '../abstracts/' as *;

#light {
  transition: all 0.3s;
  background-color: $white-color;
}

#light .header {
  transition: all 0.3s;
}

#light .footer {
  transition: all 0.3s;
}

#dark {
  transition: all 0.3s;
  background-color: $dark-mode-bg;
  color: $white-color;
}

// Color Generator
#dark .color-generator-btn-generate {
  color: $dark-mode-white;
}

// Button
#dark .color-btn {
  background-color: $primary-color-dark;
  color: $black-color;

  &-secondary {
    border: 1px solid $secondary-color-dark;
    color: $secondary-color-dark;
  }
}

// Header
#dark .header {
  transition: all 0.3s;
  background-color: $dark-mode-bg;
  color: $white-color;
  border-bottom: none;

  &-logo {
    color: $white-color;
  }
}

// Color Saved
#dark .color-saved {
  &-empty {
    color: $dark-mode-white;
  }
}

// Footer
#dark .footer {
  transition: all 0.3s;
}
