@use '../abstracts/' as *;

#light {
  background-color: $white-color;
}

#dark {
  background-color: #1f2933;
  color: $white-color;
}

// Sidebar
#dark .header {
  background-color: #323f4b;
  color: $white-color;
  border-right: none;
}

#dark .header-logo {
  color: $white-color;
}

// Button
#dark .cw-btn {
  background-color: #7dd3fc;
  color: $black-color;
}

// Color Saved
#dark .color-saved-wrapper {
  background-color: #323f4b;
}

#dark .color-generator-heading {
  color: #7dd3fc;
}

#dark .footer {
  background-color: #323f4b;
}
