@use '../../abstracts/' as *;

.delete-modal {
  @include modal(500px, 200px, $white-color);

  &-header {
    @include modal-header($black-color, #d8d8d8);
  }

  &-content {
    padding: 2rem;

    & p {
      margin-bottom: 1rem;
    }
  }

  &-overlay {
    @include modal-overlay;
  }

  &-button {
    padding: 0.5rem 2.5rem;
    border-radius: 100px;
  }

  @include devices(tablet) {
    min-width: 100vw;
    min-height: 25vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: 0;
    transform: translate(0%, 0%);
  }

  @include devices(mobile) {
    &-content {
      & p {
        text-align: center;
      }
    }
    &-button {
      min-width: 100%;
    }
  }
}

.dark .delete-modal {
  &-header {
    border-bottom: 1px solid #2c2c2c;

    & svg {
      color: #fff;
    }
  }
}
