@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #161616;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.color-generator {
  margin-bottom: 5rem;
}
.color-generator__heading {
  font-weight: 800;
}
.color-generator__paragraph {
  font-size: 1.1rem;
}
.color-generator__colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.color-generator__color {
  padding: 1rem;
  max-width: 300px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color-generator__hex {
  font-weight: bold;
}
.color-generator__settings {
  display: flex;
}
.color-generator__settings svg {
  font-size: 1.4rem;
  cursor: pointer;
}
.color-generator__settings div:not(:last-child) {
  margin-right: 0.5rem;
}

.color-picker {
  position: relative;
}
.color-picker__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.color-picker__wrapper--close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.colorsaved {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  cursor: pointer;
}
.colorsaved__wrapper {
  background-color: #d6d6d6;
}
.colorsaved__name {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0;
}
.colorsaved__colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.colorsaved__color {
  min-height: 125px;
  display: flex;
}

.cw-btn {
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #38bdf8;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}
.footer__switch {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer__switch p {
  margin: 0;
  margin-right: 0.5rem;
}

.generate-palette {
  min-height: 100vh;
}

.home {
  padding: 5rem 0;
  min-height: 100vh;
}
.home h1 {
  font-weight: bold;
}
.home p {
  font-size: 1.2rem;
}

.sidebar {
  min-width: 20%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  background-color: #ffffff;
  border-right: 1px solid #d7d7d7;
}
.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  color: #161616;
  font-weight: 600;
  font-size: 1.3rem;
}
.sidebar__logo svg {
  margin-right: 0.5rem;
}
.sidebar__logo:hover {
  color: #161616;
}
.sidebar__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar__link {
  display: block;
  padding: 1rem 3rem;
  color: #161616;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 0.3s ease-out;
}
.sidebar__link:hover,
.sidebar__link a:focus {
  border-left: 5px solid #38bdf8;
  background-color: #dff5ff;
  color: #38bdf8;
}

#light {
  background-color: rgb(244, 244, 244);
}

#dark {
  background-color: #1f2933;
  color: #ffffff;
}

#dark .sidebar {
  background-color: #323f4b;
  color: #ffffff;
  border-right: none;
}

#dark .sidebar__link {
  color: #ffffff;
}
#dark .sidebar__link:hover, #dark .sidebar__link:focus {
  border-left: 5px solid #7dd3fc;
  background-color: #3e4c59;
}

#dark .sidebar__logo {
  color: #ffffff;
}

#dark .cw-btn {
  background-color: #7dd3fc;
  color: #161616;
}

#dark .colorsaved__wrapper {
  background-color: #323f4b;
}
