@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #161616;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-theme {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}

.color-generator {
  position: relative;
  margin-bottom: 4rem;
}
.color-generator-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.color-generator-color {
  padding: 1.25rem;
  border-radius: 10px;
  max-width: 300px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color-generator-content {
  text-align: center;
  margin: auto 0;
}
.color-generator-hex {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.color-generator-settings {
  display: flex;
}
.color-generator-settings svg {
  font-size: 1.3rem;
  cursor: pointer;
}
.color-generator-settings div:not(:last-child) {
  margin-right: 0.5rem;
}
.color-generator-btn {
  display: flex;
  justify-content: space-between;
}
.color-generator-btn-text {
  display: inline-block;
}
@media only screen and (max-width: 1200px) {
  .color-generator-colors {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .color-generator-color {
    max-width: 250px;
    min-height: 200px;
  }
  .color-generator-hex {
    font-size: 1.2rem;
  }
  .color-generator-settings svg {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .color-generator-colors {
    display: block;
  }
  .color-generator-color {
    max-width: 100%;
    min-height: 250px;
  }
  .color-generator-settings svg {
    font-size: 1.3rem;
  }
  .color-generator-btn {
    display: block;
  }
  .color-generator-btn-text {
    display: none;
  }
  .color-generator-btn div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.color-delete {
  font-size: 1rem;
  color: #ef4444;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .color-delete {
    font-size: 1.2rem;
  }
}

.color-picker {
  position: relative;
}
.color-picker-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.color-picker-close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.color-saved {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.color-saved-heading {
  font-weight: 800;
  margin-bottom: 2rem;
}
.color-saved-wrapper {
  background-color: #f7f7f8;
}
.color-saved-content {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.1rem;
  justify-content: space-between;
}
.color-saved-name {
  text-transform: capitalize;
}
.color-saved-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  cursor: pointer;
}
.color-saved-color {
  min-height: 60px;
}
@media only screen and (max-width: 1200px) {
  .color-saved {
    grid-template-columns: repeat(2, 1fr);
  }
  .color-saved-color {
    min-height: 90px;
  }
}
@media only screen and (max-width: 800px) {
  .color-saved {
    grid-template-columns: 1fr;
  }
  .color-saved-colors {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  }
  .color-saved-color {
    min-height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .color-saved-color {
    min-height: 70px;
  }
}

.color-btn {
  color: #ffffff;
  background-color: #38bdf8;
  padding: 0.7rem 3rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  border: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-weight: 500;
}
.color-btn svg {
  font-size: 1.3rem;
  margin-right: 2px;
}
.color-btn:hover {
  transform: scale(1.05);
}
.color-btn:active {
  background-color: #38bdf8;
}
@media only screen and (max-width: 800px) {
  .color-btn {
    min-width: 100%;
    padding: 0.8rem 2.2rem;
  }
}

.color-btn-secondary {
  border: 1px solid #333333;
  color: #333333;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  outline: none;
}
.color-btn-secondary svg {
  font-size: 1.3rem;
  margin-right: 5px;
}
.color-btn-secondary:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 800px) {
  .color-btn-secondary {
    min-width: 100%;
    padding: 0.8rem 2.2rem;
  }
}

.message {
  margin-top: 0.5rem;
}
.message-error {
  color: #f13535;
}

.footer {
  padding: 1.2rem;
  text-align: center;
  font-size: 0.9rem;
}

.header {
  background-color: #ffffff;
  padding: 1.5rem 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: #161616;
  font-size: 1.4rem;
  font-weight: 700;
}
.header-logo svg {
  margin-right: 0.5rem;
}
.header-logo:hover {
  color: #161616;
}
.header-switch {
  display: flex;
  align-items: center;
}
.header-switch p {
  margin-right: 1rem;
}

#light {
  background-color: #ffffff;
}

#dark {
  background-color: #121212;
  color: #ffffff;
}

#dark .color-generator-btn-generate {
  color: #cacaca;
}

#dark .color-btn {
  background-color: #bae6fd;
  color: #161616;
}
#dark .color-btn-secondary {
  border: 1px solid #fef08a;
  color: #fef08a;
}

#dark .color-delete {
  color: #fca5a5;
}

#dark .header {
  background-color: #1f1f1f;
  color: #ffffff;
  border-bottom: none;
}
#dark .header-logo {
  color: #ffffff;
}

#dark .color-saved-wrapper {
  background-color: #1f1f1f;
}
#dark .color-saved-name {
  color: #cacaca;
}
#dark .color-saved-empty {
  color: #cacaca;
}

#dark .footer {
  background-color: #121212;
}
