@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #161616;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-theme {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}

.card-skeleton {
  margin-bottom: 2.5rem;
}
.card-skeleton .colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.card-skeleton .color-skeleton {
  border-radius: 10px;
}
.card-skeleton .colors-button {
  display: flex;
  justify-content: space-between;
}
.card-skeleton .color-button {
  display: flex;
  align-items: center;
}
.card-skeleton .skeleton-button {
  min-width: 175px;
  min-height: 50px;
  border-radius: 50px;
  padding: 0.7rem 3rem;
}
.card-skeleton .skeleton-text {
  width: 300px;
  margin-left: 1rem;
  border-radius: 10px;
}

.colors-library .skeleton-heading {
  max-width: 150px;
  min-height: 30px;
  margin-bottom: 2rem;
  border-radius: 50px;
}
.colors-library .skeleton-saved-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.colors-library .saved-color-content {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.colors-library .saved-color-buttons {
  display: flex;
}

.color-generator {
  position: relative;
  margin-bottom: 4rem;
}
.color-generator-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.color-generator-color {
  padding: 1.25rem;
  border-radius: 10px;
  max-width: 300px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color-generator-content {
  text-align: center;
  margin: auto 0;
}
.color-generator-hex {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.color-generator-settings {
  display: flex;
}
.color-generator-settings svg {
  font-size: 1.3rem;
  cursor: pointer;
}
.color-generator-settings div:not(:last-child) {
  margin-right: 0.5rem;
}
.color-generator-btn {
  display: flex;
  justify-content: space-between;
}
.color-generator-btn-text {
  display: inline-block;
}
@media only screen and (max-width: 1200px) {
  .color-generator-colors {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .color-generator-color {
    max-width: 250px;
    min-height: 200px;
  }
  .color-generator-hex {
    font-size: 1.2rem;
  }
  .color-generator-settings svg {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .color-generator-colors {
    display: block;
  }
  .color-generator-color {
    max-width: 100%;
    min-height: 250px;
  }
  .color-generator-settings svg {
    font-size: 1.3rem;
  }
  .color-generator-btn {
    display: block;
  }
  .color-generator-btn-text {
    display: none;
  }
  .color-generator-btn div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.color-delete {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .color-delete {
    font-size: 1.2rem;
  }
}

.color-picker {
  position: relative;
  z-index: 50;
}
.color-picker-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.color-picker-close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.color-saved {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.color-saved-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  cursor: pointer;
}
.color-saved-color {
  min-height: 120px;
}
.color-saved-heading {
  font-weight: 800;
  margin-bottom: 2rem;
}
.color-saved-wrapper {
  position: relative;
  border-radius: 10px;
}
.color-saved-content {
  font-weight: bold;
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0.5rem;
}
.color-saved-options svg {
  cursor: pointer;
}
.color-saved-options svg:not(:last-child) {
  margin-right: 0.5rem;
}
@media only screen and (max-width: 1200px) {
  .color-saved {
    grid-template-columns: repeat(2, 1fr);
  }
  .color-saved-color {
    min-height: 90px;
  }
}
@media only screen and (max-width: 800px) {
  .color-saved {
    grid-template-columns: 1fr;
  }
  .color-saved-colors {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  }
  .color-saved-color {
    min-height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .color-saved-color {
    min-height: 70px;
  }
}

.color-btn {
  color: #ffffff;
  background-color: #38bdf8;
  padding: 0.7rem 3rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  border: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-weight: bold;
}
.color-btn svg {
  font-size: 1.3rem;
  margin-right: 2px;
}
.color-btn:hover {
  transform: scale(1.05);
}
.color-btn:active {
  background-color: #38bdf8;
}
@media only screen and (max-width: 800px) {
  .color-btn {
    min-width: 100%;
    padding: 0.8rem 2.2rem;
  }
}

.color-btn-secondary {
  border: 1px solid #333333;
  color: #333333;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  outline: none;
}
.color-btn-secondary svg {
  font-size: 1.3rem;
  margin-right: 5px;
}
.color-btn-secondary:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 800px) {
  .color-btn-secondary {
    min-width: 100%;
    padding: 0.8rem 2.2rem;
  }
}

.message {
  margin-top: 0.5rem;
}
.message-error {
  color: #f13535;
}

.save-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  min-width: 500px;
  min-height: 230px;
}
.save-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  padding: 1.2rem 2rem;
}
.save-modal-header h5 {
  margin: 0;
}
.save-modal-header svg {
  color: #161616;
  cursor: pointer;
}
.save-modal-content {
  padding: 1rem 2rem;
}
.save-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.export-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  min-width: 500px;
  min-height: 230px;
}
.export-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  padding: 1.2rem 2rem;
}
.export-modal-header h5 {
  margin: 0;
}
.export-modal-header svg {
  color: #161616;
  cursor: pointer;
}
.export-modal-header h5 {
  font-weight: bold;
}
.export-modal-options .color-codes,
.export-modal-options .code-format {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}
.export-modal-options .color-codes div,
.export-modal-options .code-format div {
  cursor: pointer;
  transition: all 0.3s;
}
.export-modal-options .color-codes div:hover,
.export-modal-options .code-format div:hover {
  color: #ec35c4;
}
.export-modal-options .color-codes {
  padding: 1rem 2rem 1rem;
}
.export-modal-options .code-format {
  padding: 0rem 2rem 1rem;
  border-bottom: 1px solid #d8d8d8;
}
.export-modal-buttons {
  text-align: end;
  padding-top: 1.5rem;
}
.export-modal-content {
  padding: 2rem;
}
.export-modal-colors {
  font-weight: 500;
}
.export-modal-color {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.export-modal-color svg {
  cursor: pointer;
}
.export-modal-color:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.export-modal-color:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.export-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 1.2rem;
  text-align: center;
  font-size: 0.9rem;
}

.header {
  background-color: #ffffff;
  padding: 1.5rem 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: #161616;
  font-size: 1.4rem;
  font-weight: 700;
}
.header-logo svg {
  margin-right: 0.5rem;
}
.header-logo:hover {
  color: #161616;
}
.header-switch {
  cursor: pointer;
}

#light {
  background-color: #ffffff;
}

#dark {
  background-color: #121212;
  color: #ffffff;
}

#dark .color-generator-btn-generate {
  color: #cacaca;
}

#dark .color-btn {
  background-color: #bae6fd;
  color: #161616;
}
#dark .color-btn-secondary {
  border: 1px solid #fef08a;
  color: #fef08a;
}

#dark .color-delete {
  color: #fca5a5;
}

#dark .header {
  background-color: #1f1f1f;
  color: #ffffff;
  border-bottom: none;
}
#dark .header-logo {
  color: #ffffff;
}

#dark .color-saved-empty {
  color: #cacaca;
}

#dark .footer {
  background-color: #121212;
}
